:root {
  --color-link: #0057d7;
  --width-card: 100%;
}
body {
  padding: 2rem;
  font-size: 1.125rem;
  font-family: 'Lexend Deca';
  background-color: #FAFDFF;
}
header {
  border-radius: .2rem;
  padding: 1rem 0;
  margin-bottom: 3rem;
}
header img {
  width: 256px;
  padding: 1rem;
  background-color: #6a6a6a;
}
header h1, header p {
  padding: 0 1rem 0 1rem;
}
h1 {
  line-height: 1;
}
svg {

}
svg .mark {
  fill: #ffffff;
}
svg .ground {
  fill: #bf0000;
}
svg .text {
  fill: #000000;
}
section {
  display: block;
}
details summary > * {
  display: inline;
}
.visually-hidden {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px) !important;
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden !important;
}
a {
  text-decoration-thickness: 1px;
  -webkit-text-decoration-line: underline;
  text-decoration-line: underline;
  -webkit-text-decoration-color: #0057d780;
  text-decoration-color: #0057d780;
  display: inline-block;
}
a + a {
  margin-top: .5rem;
}
img {
  border-radius: .25rem;
}
main {
  padding: 0;
}
.d-flex {
  display: flex;
  flex-direction: column;
  padding-bottom: 4rem;
}
.flex-item {
  width: 100%;
  text-align: center;
  margin-bottom: 2rem;
}
@media screen and (min-width: 992px) {
  .d-flex {
    flex-direction: row;
    justify-content: space-between;
  }
  .flex-item {
    width: calc(33.33% - 2rem);
  }
}